/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 mars 2021, 17:59:26
    Author     : vscha
*/
.bg-custom 
{
    background-color: lightpink!important;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: url("images/sky-411136.jpg");
    padding-top: 50px;
}
.bd-placeholder-img 
{
    font-size : 1.125rem;
    text-anchor : middle;
    -webkit-user-select : none;
    -moz-user-select : none;
    -ms-user-select : none;
    user-select : none;
}
@media (min-width : 768px) 
{
    .bd-placeholder-img-lg 
    {
        font-size : 3.54rem;
    } 
}
.jumbotron 
{
    margin-bottom : 0px;
}
.btn-secondary {
    color: black;
    background-color: lightpink;
    border-color: #6c757d;
}
