/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 mars 2021, 16:38:20
    Author     : vscha
*/

.h1, h1 
{
    font-size: 2.5rem;
    margin-top: 25px;
}
img 
{
    vertical-align: middle;
    border-style: none;
    width: 200px;
    float: left;
    padding: 5px;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #463F32;
    text-align: left;
    background-color: #E6E6FA;
}

footer 
{
    background-color: #CFA0E9;
    color : white;
}

@media (min-width: 1500px) 
{ 
    .jumbotron 
    { 
        padding: 2rem 30rem; 
        background-color: #E6E6FA; 
    }                   
}